# SPDX-License-Identifier: MIT
[Unit]
Description=DirQ Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/dirq-agent
EnvironmentFile=-/etc/sysconfig/dirq-agent
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
